header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
}

.navItem {
	margin-right: 10px;
}
